<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update App</title>
</head>
<body>
  <h1>UPDATE App</h1>
  <form action="/apps/update" method="POST">
    <input type="text" name="id" id="id" placeholder="App Id" required>
    <input type="color" id="color" name="color" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
